.itols {
    padding: 6px 6px;
    background: #fff;
    border: 1px solid #e6e5e5;
    margin: 4px 0px;
    border-radius: 3px;
    display: flex;
    gap: 3px;
    color: #565657;
    cursor: move;
}

.itols div {
    background: #e6e8ef;
    /* min-width: 50px; */
    text-align: center;
    border-radius: 3px;
}



.dragging {
    border: 1px dashed red;
}